:root {
  --header-color: #212121;
  --text-color: #757575;
  --dark-background: #2f303a;
  --light-background: #f5f4fa;
  --blue-color: #2196f3;
  --border-color: #ececec;
  --border-color-2: #eeeeee;
  --white-color: #ffffff;
  --icon-color: #afb1b8;
}

$headerColor: #212121;
$textColor: #757575;
$darkBackground: #2f303a;
$lightBackground: #f5f4fa;
$blueColor: #2196f3;
$borderColor: #ececec;
$borderColor2: #eeeeee;
$whiteColor: #ffffff;
$iconColor: #afb1b8;

$fontRoboto: "Roboto", sans-serif;
$fontRaleway: "Raleway", sans-serif;
